version: '3.8'
services:


  proxy:
    image: traefik:v2.11
    command: --providers.docker
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock



  backend:
    build:
      context: ./
      target: backend-dev

    # choose a database
    # environment:
      # MYSQL_HOST: mysql
      # MYSQL_USER: root
      # MYSQL_PASSWORD: secret
      # MYSQL_DB: todos
    develop:
      watch:
        - path: ./backend/src
          action: sync
          target: /app/src
        - path: ./backend/package.json
          action: rebuild

    ports:
      - 3000:3000

    labels:
      traefik.http.routers.backend.rule: Host(`localhost`) # && PathPrefix(`/api`)
      traefik.http.services.backend.loadbalancer.server.port: 3000

      # traefik.http.middlewares.strip-api-prefix.stripprefix.prefixes: /api
      # traefik.http.routers.backend.middlewares: strip-api-prefix
